root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Matches multiple files with brace expansion notation
# Set default charset
[*.nix]
indent_size = 2

# Match shfmt
[*.sh]
indent_style = tab
